<mat-nav-list>
	<h2 matSubheader>Movies</h2>

	<a
		mat-list-item
		[routerLink]="['/movies/library']"
		routerLinkActive="active-list-item"
	>
		<mat-icon>movie</mat-icon>
		Library
	</a>
	<a
		mat-list-item
		[routerLink]="['/movies/search']"
		routerLinkActive="active-list-item"
	>
		<mat-icon>search</mat-icon>
		Search
	</a>

	<mat-divider></mat-divider>

	<h2 matSubheader>Social</h2>

	<a
		mat-list-item
		[routerLink]="['/friends/list']"
		routerLinkActive="active-list-item"
	>
		<mat-icon>person</mat-icon>
		Friends
	</a>

	<a
		mat-list-item
		[routerLink]="['/friends/requests']"
		routerLinkActive="active-list-item"
	>
		<mat-icon>person_add</mat-icon>
		Friend Requests
	</a>

	<a
		mat-list-item
		[routerLink]="['/friends/search']"
		routerLinkActive="active-list-item"
	>
		<mat-icon>person_add</mat-icon>
		Search for friends
	</a>

	<mat-divider></mat-divider>

	<h2 matSubheader>Configuration</h2>

	<a mat-list-item>
		<mat-icon>settings</mat-icon>
		Settings
	</a>
</mat-nav-list>
