mat-card {
	width: 268px !important;
	display: block;
}

.movie-image {
	width: 300px !important;
	height: 400px !important;
}

.movie-title {
	overflow-wrap: break-word;
	max-width: 300px;
	height: 40px;
}