<mat-list>
	<ng-container *ngFor="let movie of movies$ | async; trackBy: trackByFunction">
		<mat-list-item>
			<img class="movie-image" matListAvatar [src]="movie.posterUrl" />
			<h3 matLine class="movie-title">{{ movie.title }}</h3>

			<ng-container
				[ngTemplateOutlet]="
					!(isSmallScreen$ | async).matches ? twoLine : singleLine
				"
				[ngTemplateOutletContext]="{ movie: movie }"
			>
			</ng-container>
		</mat-list-item>
		<mat-divider></mat-divider>
	</ng-container>
</mat-list>

<ng-template #twoLine let-movie="movie">
	<div matLine class="actions-container">
		<button mat-icon-button color="primary" matTooltip="Likes">
			<mat-icon>thumb_up</mat-icon>
			<span class="likes-number"> {{ movie.likesCount }} </span>
		</button>

		<ml-add-to-movie-library-button
			color="primary"
			[movie]="movie"
		></ml-add-to-movie-library-button>

		<ml-navigate-to-movie-details-button
			[id]="movie?.movieId"
		></ml-navigate-to-movie-details-button>
	</div>
</ng-template>

<ng-template #singleLine let-movie="movie">
	<button mat-icon-button color="primary" matTooltip="Likes">
		<mat-icon>thumb_up</mat-icon>
		<span class="likes-number"> {{ movie.likesCount }} </span>
	</button>

	<ml-add-to-movie-library-button
		color="primary"
		[movie]="movie"
	></ml-add-to-movie-library-button>

	<ml-navigate-to-movie-details-button
		[id]="movie?.movieId"
		cssClass="details-button"
	></ml-navigate-to-movie-details-button>
</ng-template>

<ml-scroll-top></ml-scroll-top>
