@import '~@angular/material/theming';

@include mat-core();

$light-theme-primary: mat-palette($mat-indigo, 500);
$light-theme-accent: mat-palette($mat-pink, A200, A100, A400);

$light-theme: mat-light-theme($light-theme-primary, $light-theme-accent);

$dark-theme-primary: mat-palette($mat-grey, 900);
$dark-theme-accent: mat-palette($mat-deep-purple, A100);

$dark-theme: mat-dark-theme($dark-theme-primary, $dark-theme-accent);

@include angular-material-theme($light-theme);

$background: map-get($light-theme, background);
$foreground: map-get($light-theme, foreground);

mat-list-item {
	background-color: mat-color($background, dialog);
}

.dark-theme {
	@include angular-material-theme($dark-theme);

	$background: map-get($dark-theme, background);
	$foreground: map-get($dark-theme, foreground);
	
	mat-list-item {
		background-color: mat-color($background, dialog);
	}
}
