<mat-sidenav-container>
	<mat-sidenav
		#drawer
		class="sidenav"
		fixedInViewport="true"
		[attr.role]="isHandset$ ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async)!.matches ? 'over' : 'side'"
		[opened]="!(isHandset$ | async)!.matches"
	>
		<mat-toolbar color="primary">
			<mat-toolbar-row>
				<h2>Movie Library</h2>
			</mat-toolbar-row>
		</mat-toolbar>

		<ml-side-nav-menu></ml-side-nav-menu>
	</mat-sidenav>
	<mat-sidenav-content class="sidenav-content" cdkScrollable>
		<!-- Nav-bar -->
		<mat-toolbar color="primary" class="fixed-to-top">
			<button
				type="button"
				aria-label="Toggle sidenav"
				mat-icon-button
				(click)="drawer.toggle()"
				*ngIf="(isHandset$ | async)!.matches"
			>
				<mat-icon aria-label="Sidenav toggle icon.">menu</mat-icon>
			</button>

			<span *ngIf="(isHandset$ | async)!.matches">Movie Library</span>

			<span class="spacer"></span>

			<ml-nav-bar-menu></ml-nav-bar-menu>
		</mat-toolbar>

		<!-- Content -->
		<main>
			<ng-content></ng-content>
		</main>
	</mat-sidenav-content>
</mat-sidenav-container>
