.movie-container {
    max-width: 270px;
    padding: 16px 0 !important;
}

.movie-container:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.movie-container:hover .movie-title {
    color: #3f51b5;
}

.movie-image {
    width: 270px !important;
    height: 350px !important;
    margin: 0 auto;
}

.movie-title {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  overflow-wrap: break-word;
  max-width: 270px;
  height: 50px;
  padding-top: 20px;
}
