<div
	infiniteScroll
	[infiniteScrollDistance]="2"
	[infiniteScrollThrottle]="50"
	[infiniteScrollContainer]="'.sidenav-content'"
	[fromRoot]="true"
	(scrolled)="onScroll()"
>
	<mat-form-field class="search-input">
		<input
			type="search"
			#movieSearchInput
			matInput
			placeholder="Enter something about the movie"
			[(ngModel)]="searchTerm"
		/>
		<button
			mat-button
			*ngIf="searchTerm"
			matSuffix
			mat-icon-button
			aria-label="Clear"
			(click)="onClearClick()"
		>
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>

	<mat-grid-list
		[mlResponsiveColumns]="mediaQueryColCountPairs"
		[cols]="0"
		[rowHeight]="rowHeight"
	>
		<mat-grid-tile *ngFor="let movie of movies$ | async">
			<ml-movie-item [movie]="movie"></ml-movie-item>
		</mat-grid-tile>
	</mat-grid-list>
</div>

<ml-scroll-top></ml-scroll-top>
