<mat-card class="movie-container">
	<img
		class="movie-image"
		mat-card-image
		mlDefaultImage
		defaultImage="./assets/images/default-movie-image.jpg"
		[src]="movie?.posterURL"
	/>

	<mat-card-header>
		<mat-card-title class="movie-title pull-left-16px">
			{{ movie?.title }}
		</mat-card-title>
	</mat-card-header>

	<mat-divider></mat-divider>

	<mat-card-actions>
		<ml-add-to-movie-library-button
			color="accent"
			[movie]="movie"
		></ml-add-to-movie-library-button>

		<ml-navigate-to-movie-details-button
			[id]="movie?.id"
		></ml-navigate-to-movie-details-button>
	</mat-card-actions>
</mat-card>
